@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f2f4f7; 
    padding-bottom: 6rem;
}

h1{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

html{
    font-size: 1em;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

.msg-board{
   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
  
}

#button{
    font-family: 'MuseoModerno', cursive;
    text-align: center;
 
}

button{
    padding: 1em;
    cursor: pointer;
    color: #f2f4f7;
    background-color: #5000CA;
    border: none;
    border-radius: 15px;
}

    button:hover{
        background-color:#7742c5 ;
    }
  
  .msg-card {
    
    border: 1px solid #5000CA;
    border-radius: 10px;
    margin: 6px auto;
    padding: 15px;
    width: 30%;
    
  
  }

  .msg-card:hover {
      transition: all 1s;
    background-color: #5000CA;
  }
  
  .msg-card .msg-card-header {
   
   
    font-size: 0.8rem;
    line-height: 1.5;
  }
  
  .msg-card .username {
  
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 12px;
  }
  
  .msg-card .msg {
    padding: 10px 0;
  }

  .timestamp{
      float: right;
  }

  footer{
      text-align: center;
      background-color: #5000CA;
      color: #f2f4f7;
  }
  
  @media only screen and (max-width: 768px) {
    .msg-board{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap; 
     }

     .msg-card {
        border: 1px solid #5000CA;
        border-radius: 10px;
        width: 80%;
      
      }

      h1{
          font-size: 1.2em;
      }

  }